.invoice-container
{
    height: 100%;
}

.action-bar
{
    display: flex;
    flex-direction: row;
}

.button-container
{
    margin-right: 50px;
}

.btn-local
{
    height: 50px;
    width: 100px;
    border: none;
    margin-right: 20px;
    outline: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);;
}

.btn-local:hover
{    
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.table-header
{
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}


.asset-list-container
{
    margin-top: 50px;
    overflow-y: scroll;
    height: 90%;
}


th
{
    text-align: left;
    width: 200px;
    height: 50px;
    padding-left: 10px;
}

.data-cell
{
    width: 200px;
    height: 50px;
    padding-left: 10px;
}

tr:hover
{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.selected-row
{
    background-color: rgba(0, 0, 0, 0.3);
}

.warning-text
{
    margin: 20px;
    color: green;
    font-size: large;
    font-weight: bold;
}

.green-background
{
    background-color: green;
}

.search-section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-button
{
    margin-left: 20px;
}

.local-input
{
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    font-size: larger;
}
